body{
	margin: 0;
}

.top_header{
	background-color: #222326;
	height: 45px;
	border-bottom: 1px solid #414346;
}

.navbar-default{
	background:none;
	border: 0;
}

 .navbar-nav>li>a{
	padding-top: 12px;
	padding-bottom: 12px;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #CCCCCC;
 }

 .main-header{
 	height: 235px;
 	background-color: #2d3034;
 }

 .logo{
 	height: 133px;
 }

 .logo img{
 	height: 100px;
 	width: auto;
 	margin-top: 15px;
 }

 .main_nav_border{
 	border-top: 2px solid #27292d;
 	border-left: 2px solid #27292d;
 	border-right: 2px solid #27292d;
}

.main_nav{
	height: 45px;
	border-top: 1px solid #36393c;
}

.main_nav .nav>li>a:focus, .main_nav .nav>li>a:hover {
    background-color: #393e45;
}

.main_nav .navbar-nav>li>a {
	color: #bebfc1;
}

.search_area{
	float: right;
	margin-top: 5px;
	margin-right: 15px;
}

.search_input{
	background-color: #282b2f;
	border: 0;
	width: 140px;
	height: 32px;
	font-size: 11px;
	padding: 10px;
	outline: 0;
	color: #FFFFFF;
}

.search_submit{
	background-color: #3e4145;
	border: 0;
	height: 32px;
	color: #FFFFFF;
	font-size: 11px;
}

.main_info{
	background-color: #FFFFFF;
	height: 55px;
}

.socialarea{
	background-color: #3382b5;
	height: 100%;
	margin-top: -8px;
}

.main_info .row{
	margin: 0;
}

.randompost{
	line-height: 55px;
	color: #999999;
}

.randompost a{
	color: #999999;
}

.socialtxt{
	line-height: 55px;
	float: left;
}

.socialicons{
	float: right;
	height: 20px;
	margin-top: 17px;
}

.socialicons img{
	height: 20px;
}

.socialicons a{
	text-decoration: none;
}

